.bg{
  height: 657px;
  background-color: blue;
}
.signin{
  background-color: aquamarine;
  height: max-content;
}
.btn{
  width: 70%;
}
.ebg{
  height: 657px;
  background-color: coral;
}
.pbg{
  height: 657px;
  background-color: deeppink;
}
:link{
  text-decoration: none;
  
}